.login-container{
    display: flex;
    flex-flow: column ;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.login-container h2{
    font-weight: 500;
    font-size: 20px;
    background-color: #D8D7D9;
    padding: 7px 30px;
    border-radius: 25px;
}
.login-container a{
    margin-top: 5px;
}

.form-section{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20px;
}

.form-section input{
    width: 200px;
    height: 20px;
}

.form-section a{
    margin-top: 5px;
    font-size: 12px;
}

.button-form{
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
    background-color: #D8D7D9;
    padding: 7px 30px;
    border-radius: 25px;
    border: 2px solid black;
}